{% load static %}
<footer class="py-5">
  <div class="container text-center">

    <img src="{% static 'images/LuxTerralogo_cropped.png' %}" alt="Logo" width="50" height="50">

    <!-- Social and Info Links -->
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://instagram.com" target="_blank" class="nav-link px-2 text-muted">Instagram</a></li>
      <li class="nav-item"><a href="https://facebook.com" target="_blank" class="nav-link px-2 text-muted">Facebook</a></li>
      <li class="nav-item"><span class="nav-link px-2 text-muted">Mon–Fri: 9:00–17:00</span></li>
    </ul>

    <!-- Copyright -->
    <p class="text-muted">© 2025 LuxTerra, Inc</p>
  </div>
</footer>
