.about-left h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #41563B;
  margin-bottom: 1rem;
}

.about-left p {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #41563B;
  line-height: 2rem;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #41563B;
}

.lead {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  color: #41563B;
}
.img-fluid {
  max-height: 300px;
  object-fit: cover;
  border: 4px solid #41563B;
  border-radius: 0.5rem;
}

.owner-name {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color: #41563B;
  margin-top: 0.5rem;
}
