body {
  font-family: "Bookman Old Style", sans-serif !important;
  background-color: #ffffff;
  color: #2d3b23;
}

.contact-title {
  font-family: "Bookman Old Style", sans-serif !important;
  color: #2d3b23;
  font-size: 2.5rem;
  text-align: center;
}

.row .bi {
  font-size: 2rem;
  color: #41563B;
}

.row .d-flex span {
  font-size: 1.1rem;
  font-weight: 500;
  color: #41563B;
}

.emergency-name {
  font-family: "Bookman Old Style", sans-serif !important;
  font-weight: bold;
  color: #41563B;
}

.img-fluid {
  max-height: 300px;
  object-fit: cover;
  border: 4px solid #41563B;
  border-radius: 0.5rem;
}

h4 {
  font-family: "Bookman Old Style", sans-serif !important;
  color: #2d3b23;
  font-size: 1.75rem;
}

.luxterra-title {
  color: #41563B;
  font-family: "Bookman Old Style", sans-serif !important;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.luxterra-desc {
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: 'Georgia', serif;
  color: #2d3b23;
  max-width: 90%;
}


@media (max-width: 768px) {
  .contact-title {
    font-size: 2rem;
  }

  .row .d-flex {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .luxterra-desc {
    max-width: 100%;
  }

  iframe {
    margin-top: 1.5rem;
  }
}

