a.dropdown-toggle::after {
    display: none !important;
}
.dropdown-menu {
    background-color: #36592b !important;
    border: none;
}
.dropdown-item {
    color: #e8e6b7 !important;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.navbar.bg-body-tertiary {
    background-color: #36592b !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3) !important;
    background-image: url('../images/60-lines.png') !important;
    background-repeat: repeat !important;
    height: 6rem;
}

.bi-person-circle {
    fill: #e8e6b7;
    transition: fill 0.3s ease;
}

.navbar .nav-link {
    color: #e8e6b7 !important;
    font-family: "Bookman Old Style", sans-serif !important;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.logo_text {
    font-family: "Bookman Old Style", sans-serif !important;
    color: #FFFFFFFF !important;
    font-size: 3rem !important;
    padding-left: 15px;
}

.container-fluid {
    padding-left: 0;
}

.ms-auto.d-flex .nav-link {
  text-decoration: none;
  position: relative;
}

.ms-auto.d-flex .nav-link:hover {
  text-decoration: underline;
}