.navbar.bg-body-tertiary {
    background-color: #41563b !important;

}

.bi-person-circle {
    fill: #E8E6B7;
    transition: fill 0.3s ease;
}

.navbar .nav-link {
    color: #e8e6b7 !important;
    font-family: "Times New Roman", Times !important;
}

.container-fluid {
    padding-left: 0;
}

.ms-auto.d-flex .nav-link {
  text-decoration: none;
  position: relative;
}

/* Create hover underline effect */
.ms-auto.d-flex .nav-link:hover {
  text-decoration: underline;
}