.navbar.bg-body-tertiary {
    background-color: #41563b !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.bi-person-circle {
    fill: #E8E6B7;
    transition: fill 0.3s ease;
}

.logo_image {
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    color: #e8e6b7 !important;
    font-family: sans-serif !important;
}

.logo_text {
    font-family: "Times New Roman", Times !important;
    color: #e8e6b7 !important;
}

.container-fluid {
    padding-left: 0;
}

.ms-auto.d-flex .nav-link {
  text-decoration: none;
  position: relative;
}

/* Create hover underline effect */
.ms-auto.d-flex .nav-link:hover {
  text-decoration: underline;
}