.seller-profile-img-lg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.seller-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}