{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/properties.css' %}">
{% endblock %}

    <h2 id="h2">Find a place where dreams come home<br>-LuxTerra</h2>
    <div class="filter-container">
        <div class="filters">
            <label>
                Postal code
                <select name="postal_code" class="custom-select">
                    <option value="">Any</option>
                    <option value="101">101</option>
                    <option value="105">105</option>
                    <option value="220">220</option>
                    <option value="221">221</option>
                    <option value="800">800</option>
                    <option value="200">200</option>
                    <!-- Add more -->
                </select>
            </label>

            <label>
                Price
                <select name="price" class="custom-select">
                    <option value="">Any</option>
                    <option value="low">Low to High</option>
                    <option value="high">High to Low</option>
                </select>
            </label>

            <label>
                Property type
                <select name="property_type" class="custom-select">
                    <option value="">Any</option>
                    <option value="apartment">Apartment</option>
                    <option value="house">House</option>
                    <option value="bungalow">Bungalow</option>
                    <option value="villa">Villa</option>
                    <option value="penthouse">Penthouse</option>
                </select>
            </label>

            <label>
                Street name
                <input type="text" name="street_name" class="custom-input" placeholder="">
            </label>

            <label>
                &nbsp;
                <button class="search-button">🔍</button>
            </label>
        </div>
    </div>

   <div class="property-container">
    {% for p in properties %}
    <div class="card prop">
        <a href="{% url 'property_details' p.property_id %}" class="card-link">
            <div class="property-image" style="background-image: url('{{ p.thumbnail }}');">
                <div class="property-address">{{ p.street }} {{ p.house_number }}</div>
            </div>
            <div class="card-body">
                <div class="property-details">
                    <div class="size-detail">{{ p.size }} m²</div>
                    <div class="room-detail">{{ p.bedrooms }}</div>
                    <div class="bathroom-detail">{{ p.bathroom }}</div>
                </div>
                <div class="property-price">{{ p.price }} kr</div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
