
{% extends 'Home/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="box-container">
    <a href="{% url 'properties' %}" class="box-link" aria-label="Go to Properties page">
        <div class="box">
            <img src="{% static 'images/A-IMG_1070.jpg' %}" alt="Properties">
            <h2>Properties</h2>
        </div>
    </a>

    <a href="{% url 'list_property' %}" class="box-link" aria-label="Go to List Property page">
        <div class="box">
            <img src="{% static 'images/List_prop.jpg' %}" alt="List Property">
            <h2>List Property</h2>
        </div>
    </a>

    <a href="{% url 'about' %}" class="box-link" aria-label="Go to About Us page">
        <div class="box">
            <img src="{% static 'images/lite.avif' %}" alt="About Us">
            <h2>About Us</h2>
        </div>
    </a>
</div>


{% endblock %}