{% extends 'Home/base.html' %}

{% load static %}
{% block extra_head %}
    <link href="{% static 'css/log_in.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 id="h2">The best deals start with a click — log in today, and unlock the door to your dream property!<br>-LuxTerra</h2>
<div class="d-flex justify-content-center align-items-center">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
          <div class="login-box p-4 rounded shadow bg-white">
        <form method="post" action="{% url 'login' %} ">
            {% csrf_token %}
          <div class="mb-3 row align-items-center">
            <label for="email" class="col-sm-3 col-form-label">Email:</label>
            <div class="col-sm-9">
              <input type="text" name="email" class="form-control" id="email" required>
            </div>
          </div>

          <div class="mb-3 row align-items-center">
            <label for="password" class="col-sm-3 col-form-label">Password:</label>
            <div class="col-sm-9">
              <input type="password" name="password" class="form-control" id="password" required>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="offset-sm-3 col-sm-9 text-end">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </div>
            <div class="text-center mt-3">
          <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
            </div>
        </form>

    </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}